body {
  background: #1a1a1a;
  margin: 0;
  padding: 0; /* Added */
}

.container {
  width: 100%;
  min-height: 100vh; /* Changed */
  display: flex;
  flex-direction: column; /* Added */
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
}

.calculator {
  height: 700px;
  width: 400px;
  margin: auto;
  border-radius: 4px;
  background-color: bisque;
  padding: 15px 15px 20px 20px;
  box-shadow: 4px 3px 0px 0px rgba(255, 255, 255, 0.5);
}

#display {
  box-sizing: border-box;
  width: 100%;
  padding: 50px 5px;
  background: #ffffff;
  text-align: right;
  direction: ltr;
  outline: none;
  border: 3px solid #424242;
  font-size: 25px;
  margin-bottom: 5rem;
  border-radius: 6px;
}

.btn {
  width: 23%;
  height: 12%;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-top: 6px;
  background: #292929;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.btnEqual {
  width: 46.9%;
  height: 12%;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-top: 8px;
  background: #ff8a65;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: #464545;
}
.btnEqual:hover {
  background-color: #ffa88e;
}


@media (max-width: 480px) {
  .btn {
    width: 20%;
  }
}

@media (max-width: 320px) {
  .btn {
    width: 23%;
  }
}

input::placeholder {
  font-size: 25px;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto+Mono&display=swap");

.btn,
.btnEqual {
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #292929;
  padding: 10px;
}

footer p {
  color: #ffffff;
  margin: 0;
  margin-right: 10px;
  font-size: 16px;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

footer img {
  height: 20px;
  margin-left: 5px;
}